# This file is used by containers/buildkite-windows/Dockerfile.
backoff==1.10.0
gitpython==3.1.14
lxml==4.6.3
pathspec==0.8.1
phabricator==0.8.1
pyaml==20.4.0
requests==2.25.1
unidiff==0.6.0
python-benedict==0.23.2
