# This file is used to configure the environment variables and define
# the command line arguments for cmake

# environment variables that are set per operating system
environment:
  linux:
    CC: 'clang'
    CXX: 'clang++'
    LD: 'LLD'
  windows:
    'CC': 'cl'
    'CXX': 'cl'
    'LD': 'link'

# command line arguments for cmake
arguments:
  # command line arguments for all OS
  general:
    # LLVM path is set in script
    # LLVM_ENABLE_PROJECTS is set in script
    - '-G Ninja'
    - '-D CMAKE_BUILD_TYPE=Release'
    - '-D LLVM_ENABLE_ASSERTIONS=ON'
    - '-D LLVM_BUILD_EXAMPLES=ON'
    - '-D LLVM_LIT_ARGS="-v --xunit-xml-output test-results.xml"'
  linux:
    # CCACHE is enabled in script iff environment variable `CCACHE_DIR` is set
    - '-D LLVM_ENABLE_LLD=ON'
    - '-D CMAKE_CXX_FLAGS=-gmlt'
    # Bolt https://github.com/google/llvm-premerge-checks/issues/364#issuecomment-1013952831.
    - '-DBOLT_CLANG_EXE=/usr/bin/clang'
  windows: []
