[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backoff = "*"
GitPython = "*"
lxml = "*"
pathspec = "*"
phabricator = "==0.8.1"
pyaml = "*"
requests = "*"
python-benedict = "*"
psycopg2-binary = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.9"
